
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.editorconfig
*.assets.cache
*.FileListAbsolute.txt
*.genruntimeconfig.cache
*.sourcelink.json
*.nuget.dgspec.json
project.assets.json
project.nuget.cache
EOF